// Colortab Variables
// -------------------

// Blues
// -------------------
$grue: #5D6F7C;
$droplet: #75B4DF;
$bubblegum-blue: #31C3D9;
$vibrant-blue: #1FA0F4;
$executive: #1A6AAF;
$summer-sky: #4FADF4;
$baby-blue: #91DAFF;

// Greens
// -------------------
$fresh-grass: #5DBE7C;
$teal: #65D2C3;
$pine: #467868;
$greentea: #036F73;
$mint-chip: #86E894;
$slime: #90C944;
$dark-mint: #3294A4;
$musky-green: #D7D596;
$mid-mint: #4ACFAF;
$dark-forrest: #003D37;

// Mono
// -------------------
$chalkboard: #36363d;
$musk: #D7D1C7;

// Oranges
// -------------------
$peach: #F68D5D;
$ripe-orange: #F49F11;
$rust: #D25F43;
$faded-orange: #F5B08A;
$light-orange: #FDBF62;

// Pinks
// -------------------
$fusion-pink: #D91B5C;
$pink-pearl: #FF5D7C;
$petal-pink: #FF6A77;
$cherry-dust: #AD3A48;
$shock-pink: #FF1567;

// Purples
// -------------------
$dusty-purple: #827583;
$smooth-purple: #7765D9;
$gurple: #C1BCC6;
$sweet-purple: #C46AC7;
$royal-purple: #54152B;
$maroon: #6A1226;

// Reds
// -------------------
$blood: #70292B;
$danger: #B00C2B;
$vibrant-red: #FF3C2E;
$flat-red: #EF3E50;

// Yellows
// -------------------
$custard: #FFC87C;
$dark-gold: #947D4E;
$creamy-yellow: #FEF2D8;
$double-yellow: #FEEF41;
$gold: #EBD35B;
$sand: #F6C79E;
$shock-yellow: #FEFF1A;
