    <footer class="main-footer">
        <div class="grid">
            <div class="grid__row grid__row--central">
                <div class="grid__col grid__col--6-12 align--center">
                    <h3>Sharing is caring</h3>
                    <p>This is a side project that I would love to share with people. The only way I can achieve this is with your help so please help keep this going by sharing on twitter, facebook or other social media mediums.</p>
                    <div class="btn--centered pad--top">
                        <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u={{ site.url }}" class="btn btn--smooth facebook--background"><i class="fa fa-fw fa-facebook"></i> Share on Facebook</a>
                        <a href="http://twitter.com/share?text=I've just found a great Sass colour variable resource called COLORTAB, check it out! - &url={{ site.url }}" class="btn btn--smooth twitter--background"><i class="fa fa-fw fa-twitter"></i> Tweet about it</a>
                    </div>
                </div>
                <div class="grid__col grid__col--6-12">
                </div>
            </div>
        </div>
        <section class="main-footer__tagline">
            <div class="grid">
                <div class="grid__row">
                    <div class="grid__col grid__col--12-12">
                        <p>You are viewing a <a href="http://jordansimpson.co.uk">Jordan Simpson</a> side project. Enjoy <i class="fa fa-fw fa-heart"></i></p>
                    </div>
                </div>
            </div>
        </section>
    </footer>
    <!-- Include Scripts -->  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{ "/dist/css/min/frontly-scripts.min.js" | prepend: site.baseurl }}"></script>
